.contact {
    margin: 20px 0;
    padding: 20px;
    /* background-color: #d7ffd9; */
    border-radius: 8px;
  }
  
  .contact h2 {
    font-size: 1.8em;
    color: #333;
  }
  
  .contact p {
    font-size: 1em;
    color: #555;
    margin: 8px 0;
  }
  