/* Header.css */
.header {
  /* width: 100%; */
  background-color: #1abc9c; /* Header background */
  color: white;
  padding: 40px 20px;
  border-bottom: 3px solid #16a085;
  display: flex;
  justify-content: space-between; /* Aligns left and right sections to opposite ends */
  align-items: center;
}

.header-info {
  flex: 0 1 auto;
  text-align: left;
  margin-left: 4%; /* Moves the header-info slightly forward */
}

.header-info h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-info p {
  font-size: 1.2em;
  color: #ecf0f1;
}

.contact-list {
  flex: 0 1 auto;
  list-style-type: decimal;
  padding: 0;
  margin-right: 2%;
  text-align: right;
}

.contact-list li {
  margin-bottom: 10px;
  font-size: 1em;
  color: white;
}

.contact-list a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

.contact-list a:hover {
  color: #2ecc71;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-info,
  .contact-list {
    text-align: center;
  }

  .contact-list {
    padding: 0;
  }
}
