.side-by-side-layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
  }
  
  .left-panel,
  .right-panel {
    width: 100%;
  }
  
  .content-display {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
  }
  